{% extends 'base.html' %}

{% block title %}
List of countries
{% endblock %}

{% block content %}
<a href="{% url 'new_country' %}">Create new country.</a>
<h2>List of all countries:</h2>
  <ul>
      {% for country in countries %}
        <li>{{ country }}
            <a href="{% url 'country_update' country.id %}">edit</a>
            <a href="{% url 'country_delete' country.id %}">delete</a>
        </li>
      {% empty %}
        <li>List is empty</li>
      {% endfor %}
  </ul>
{% endblock %}