{% extends 'base.html' %}

{% block title %}
{{ person.first_name}} {{ person.last_name}}
{% endblock %}

{% block content %}
<div class="person-names">
    <span class="person-first-name"> {{ person.first_name}} </span>
    <span class="person-last-name"> {{ person.last_name }} </span>
</div>
<div class="person-birth-date">
    Datum narození: {{ person.birth_date }}
</div>
<div class="person-sex">
    Pohlaví:
    {% if person.sex %}
        žena
    {% else %}
        muž
    {% endif %}
</div>
<div class="person-country">
    {{ person.country }}
</div>

<div class="person-acting">
    <h3>Hrál ve filmech:</h3>
    <ul>
        {% for movie in acting %}
            <li><a href="{% url 'movie' movie.id %}">{{ movie }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="person-acting">
    <h3>Režíroval filmy:</h3>
    <ul>
        {% for movie in directing %}
            <li><a href="{% url 'movie' movie.id %}">{{ movie }}</a></li>
        {% endfor %}
    </ul>
</div>


  <div class="person-created">
    Vytvořeno: {{ person.created }}
  </div>
  <div class="person-updated">
    Poslední změna: {{ person.updated }}
  </div>
{% endblock %}