<nav>
  <ul>
    <li><a href="{% url 'home' %}">HOME</a></li>
    <li><a href="{% url 'movies' %}">Movies</a></li>
    <li><a href="{% url 'actors' %}">Actors</a></li>
    <li><a href="{% url 'directors' %}">Directors</a></li>
    <li><a href="{% url 'countries' %}">Countries</a></li>
    <li><a href="{% url 'genres' %}">Genres</a></li>
    <li><a href="{% url 'persons' %}">Persons</a></li>
    <li><a href="{% url 'users' %}">Users</a></li>
    {% if request.user.is_authenticated %}
      <li class="last-item">
        <span class="user-name">
          {{ request.user.username }}
        </span>
        <a href="{% url 'logout' %}">Logout</a>
      </li>
    {% else %}
      <li class="last-item"><a href="{% url 'login' %}" id="login-id">Login</a></li>
    {% endif %}
    {% if request.user.is_staff %}
      <li class="last-item"><a href="/admin/">admin</a></li>
    {% endif %}
  </ul>
</nav>